body {
    font-size: 0;
    margin: 0;
    padding: 20px;
}
.poets a h1 {
        font-family: "avenir";
        font-weight: "bolder";
        font-size: 100px;
        text-align: center;
        font-variant: "oblique";
        text-decoration: underline;
        color: black;
        line-height: 60px;
}

.poet {
    font-family: "avenir";
    font-size: 10pt;
    text-align: center;
    position: fixed;
    top: 62%;
    left: 50%;
    transform: translate(-50%);
}


#quoteDisplay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    font-size: 40pt;
    color:black;
    text-decoration: underline;
   
}

#lineDisplay {
    font-family:"avenir";
    font-size: 10pt;
    position: relative;
    
}

a {
    color: black;
}

.lines ,.lines_two, .lines_three, .lines_four, .lines_five, .lines_six, .lines_seven, .lines_eight, .lines_nine, .lines_ten {
    font-family:"avenir";
    font-size: 10pt;
    position: absolute;
    cursor: move;

}

.poem {
    font-family:"avenir";
    font-size: 10pt;
    position: absolute;
    cursor: move;
}



.paragraphs h1 {
    font-size: 10pt;
    font-weight: lighter;
    text-align: left;
    margin-bottom: 150px;
    margin-left: 10px;
    padding: 10px;

}

.number {
    margin: 20px;
}

.one {
    position: absolute;
    top: 5%;
    left: 2%;
}

.two {
     position: absolute;
    top: 30%;
    left: 2%;
}

.three {
    position: absolute;
    top: 55%;
    left: 2%;
}

.four {
    position: absolute;
    top: 80%;
    left: 2%;
}

.five {
    position: absolute;
    top: 105%;
    left: 2%;
}

.six {
    position: absolute;
    top: 130%;
    left: 2%;
}

.seven {
    position: absolute;
    top: 155%;
    left: 2%;
}
.eight {
    position: absolute;
    top: 180%;
    left: 2%;
}


.translate {
    opacity: 0;
    position: fixed;
    top: 5%;
    right: 5%;
    width: 400px;
    height: 200px;
}

.english {
    opacity: 0;
    font-style: italic;
    font-weight: bolder;


}

.turkish {
    font-family:"avenir";
    font-size: 11pt;
  
      
}
.note { 
    font-family:"avenir";
    font-size: 20pt;
    font-weight: bold;
   text-align: center;
    opacity: 0;
}

.homepage a {
    width: 100%;
    height: 6px;
    background-color: black;
    position: fixed;
    top: 52%;
    right: -95%;
}

.full p {
    font-family: "avenir";
    font-weight: bolder;
    font-size: 15pt;
    position: fixed;
    top: 42%;
    right: 2%;
    cursor: pointer;

}



.p2, .p1, .p3, .p4, .p5, .p6, .p7, .p8, .p9, .p10  {
   font-family:"avenir";
    font-size: 10pt;
    position: absolute;
    top: 7%;
    left: 7%;
    display: inline-block; 
    line-height: 30px;
}

.version_nine, .version_one, .version_two, .version_three, .version_four, .version_five, .version_six, .version_seven, .version_eight, .version_ten {
    font-family:"avenir";
    font-weight: bolder;
    font-style: italic;
    font-size: 10pt;
    position: absolute;
    top: 7%;
    left: 35%;
    display: inline-block; 
    line-height: 30px;
}


.hide {
    display: none;
}

.done{
    font-family: "avenir";
    font-weight: bolder;
    font-size: 10pt;
    position: fixed;
    top: 56%;
    right: 1%;
    cursor: pointer;
}


