* {
	box-sizing: border-box;
}


body {
	font-size: 0;
	margin: 0;
	padding: 0;
	
	
}

div {
	display: inline-block;
}

/*.paragraph p {
	font-size: 80pt;
	font-family: "gibson";
	position: absolute;
	top: 0;
	left: 0;
}*/


#clock {
	font-size: 36px;
	font-family: "gibson";
	position: fixed;
	top: 5%;
	right: 5%;
	}

.position {
	display: inline;
}

.all_letters{
	display: none;



}

.letter-outer {
	width: 150px;
	height: 200px;
	/*background-color: gray;*/
	margin: 20px 20px 60px 60px;
	position: relative;
	z-index: 100;
}



.a_one {
	width: 0;
	height: 0;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-bottom: 130px solid black;
	position: absolute;
	
}

.b_one {
	height:90px;
 	width:50px;
 	border-radius: 0 75px 75px 0;
 	margin-left: 60px;
 	background-color: black;
 	position: absolute;
 
}

.b_two {
	height:125px;
 	width:55px;
 	border-radius: 0 57px 57px 0;
 	margin: 5px 0 0 60px;
 	background-color: black;
 	position: absolute;
 	
}

.c_one {
	height:120px;
 	width:75px;
 	border-radius: 120px 0 0 120px;
 	background-color: black;
 	margin: 50px 0 0 35px;
 	position: absolute;
 	
}

.d_one {
	height:120px;
 	width:75px;
 	border-radius: 0 57px 57px 0;
 	margin: 50px 0 0 35px;
 	background-color: black;
 	position: absolute;
 	
}

.e_one {
	width: 130px;
	height: 80px;
	background-color: black;
	margin: 20px 20px 0 20px;
	position: absolute;
	

}

.e_two {
	width: 130px;
	height: 80px;
	background-color: black;
	margin: 20px 0 0 20px;
	position: absolute;
}

.f_one {
	width: 130px;
	height: 80px;
	background-color: black;
	margin: 20px 0 0 20px;
	position: absolute;
}

.f_two {
	width: 130px;
	height: 100px;
	background-color: black;
	margin: 20px 0 0 20px;
	position: absolute;
}

.g_one{
	height:100px;
 	width: 150px;
 	border-radius: 100px 100px 0 0;
 	background-color: black;
 	margin: 0 0 10px 0;
 	position: absolute;
}

.g_two {
	width: 150px;
	height: 100px;
	background-color: black;
	margin: 10px 0 0 0;
	position: absolute;
}

.h_one, .h_two {
	width: 110px;
	height: 100px;
	background-color: black;
	margin: 0 20px 20px 20px;
	position: absolute;
}

.i_one {
	width: 30px;
	height: 220px;
	background-color: black;
	margin: 0 60px 0 60px;
	position: absolute;
}

.j_one {
	height:50px;
 	width: 90px;
 	border-radius: 0 0 100px 100px;
 	background-color: black;
 	margin: 170px 0 0 40px;
 	position: absolute;
}


.k_three {
	width: 0;
	height: 0;
	border-right: 75px solid black;
	border-bottom: 110px solid transparent;
	border-top: 110px solid transparent;
	margin-right: -20px;
	margin-left: 75px;
	position: absolute;
}

.k_two{
	width: 0;
	height: 0;
	border-left: 105px solid black;
	border-right: 110px solid transparent;
	border-top: 150px solid transparent;
	margin-top: -220px;
	position: absolute;
	

}
.k_one {
	width: 0;
	height: 0;
	border-left: 105px solid black;
	border-right: 110px solid transparent;
	border-bottom: 150px solid transparent;
	margin-top: -220px;
	margin-bottom: 220px;	
	position: absolute;
	
}

.l_one {
	width: 60px;
	height: 220px;
	background-color: black;
	margin: 0 45px 0 45px;
	position: absolute;
}

.m_one {
	width: 0;
	height: 0;
	border-left: 70px solid black;
	border-right: 75px solid transparent;
	border-top: 220px solid transparent;
	position: absolute;

}

.m_two{
	width: 0;
	height: 0;
	border-left: 70px solid transparent;
	border-right: 75px solid black;
	border-top: 220px solid transparent;
	margin: -220px 0 0 5px;
	position: absolute;
	
}

.n_one {
	width: 0;
	height: 0;
	border-left: 125px solid black;
	border-right: 125px solid transparent;
	border-top: 220px solid transparent;
	position: absolute;
}

.n_two{
	width: 0;
	height: 0;
	border-left: 125px solid transparent;
	border-right: 125px solid black;
	border-bottom: 220px solid transparent;
	margin-top:-220px;
	margin-left: -100px;
	position: absolute;
}

.o_one{
	width: 100px;
	height: 100px;
	background-color: black;
	border-radius: 50px;
	margin: 60px 0 0 25px;
	position: absolute;
}

.p_one {
	height:90px;
 	width:50px;
 	border-radius: 0 75px 75px 0;
 	margin-left: 80px;
 	margin-top: 20px;
 	background-color: black;
 	position: absolute;
}

.q_one {
	width: 100px;
	height: 100px;
	background-color: black;
	border-radius: 50px;
	margin: 90px 0 0 25px;
	position: absolute;
}

.q_two {
	width: 0;
	height: 0;
	border-left: 70px solid transparent;
	border-right: 75px solid black;
	border-top: 50px solid transparent;
	margin: -20px 0 0 5px;
	position: absolute;
}

.r_one{
	height:90px;
 	width:50px;
 	border-radius: 0 75px 75px 0;
 	margin-left: 45px;
 	background-color: black;
 	position: absolute;
}

.r_two {
	width: 0;
	height: 0;
	border-left: 70px solid black;
	border-right: 75px solid transparent;
	border-top: 130px solid transparent;
	margin-left: 45px;
	position: absolute;
}

.s_one {
	height:90px;
 	width:50px;
 	border-radius: 0 75px 75px 0;
 	margin-left: 75px;
 	margin-top: 115px;
 	background-color: black;
 	position: absolute;
}

.s_two {
	height:90px;
 	width:50px;
 	border-radius: 75px 0 0 75px;
 	margin-left: -100px;
 	margin-bottom: 100px;
 	background-color: black;
 	position: absolute;
}

.t_one {
	width: 65px;
	height: 200px;
	background-color: black;
	margin-top: 20px;
	margin-right: 20px;
	position: absolute;
}

.t_two{
	width: 65px;
	height: 200px;
	background-color: black;
	position: absolute;
	
}
.u_one {
	height:100px;
 	width: 150px;
 	border-radius: 0 0 100px 100px;
 	background-color: black;
 	margin: 120px 0 0 0;
 	position: absolute;
}

.v_one {
	width: 0;
	height: 0;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-top: 220px solid black;
	position: absolute;
}

.w_one{
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 220px solid black;
	position: absolute;
}

.w_two{
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 220px solid black;
	position: absolute;
}
.w_three{
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 220px solid black;
	position: absolute;
}

.x_one{
	width: 0;
	height: 0;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-top: 110px solid black;
	position: absolute;
}
.x_two{
	width: 0;
	height: 0;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-bottom:110px solid black;
	position: absolute;
}

.y_one{
	width: 0;
	height: 0;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-top: 130px solid black;
	position: absolute;
}


.z_one{
	width: 0;
	height: 0;
	border-left: 125px solid transparent;
	border-right: 125px solid black;
	border-top: 220px solid transparent;
	margin-bottom: -220px;
	margin-left: -100px;
	position: absolute;
}

.z_two{
	width: 0;
	height: 0;
	border-left: 125px solid black;
	border-right: 125px solid transparent;
	border-bottom: 220px solid transparent;
	position: absolute;
	
}

.space {

	width: 100px;
	height: 120px;
	font-size: 0;
    display: inline-block;
    margin: 1px;
}


.type {
  display: inline-block;
  position: absolute;
  top: 30%;
  left: 4%;
  vertical-align: top;

 }

.type:after {
  content:"|";
  font-size: 290px;
  animation: 1s blink step-end infinite;
  display: inline-block;
  
}




@keyframes blink {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.vertical {
	vertical-align: top;
}



