* {
	box-sizing: border-box;
}


body {
	font-size: 0;
	margin: 0;
	padding: 0;

}

.gif {
	
  background-image:url(../img/starttype.gif);
  background-size: cover;
  width: 800px;
  height: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
}
.refresh p {
	font-family: "gibson";
	font-size: 12pt;
	position: fixed;
	top: 10%;
	left: 5%;
	cursor: pointer;
}

.spot {
	display: inline-block;
	position: relative;
	bottom: 10%;
	left: 0;
}


.stage {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 0%;
	}


#clock {
	font-size: 100px;
	font-family: "gibson";
	position: fixed;
	top: 5%;
	right: 33%;

	}


.all_letters{
	display: none;

}

.letter-outer {
	width: 12vw;
	height: 30vh;
	margin: -20px 20px -230px 60px;
	position: relative;

}



.a_one {
	width: 0;
	height: 0;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-bottom: 130px solid black;
	position: absolute;
	bottom: 0;
	left: 0;
	
}

.b_one {
	height:90px;
 	width:50px;
 	border-radius: 0 75px 75px 0;
 	margin-left: 60px;
 	background-color: black;
 	position: absolute;
 	top:0;
 	left: 5px; 
}

.b_two {
	height:125px;
 	width:55px;
 	border-radius: 0 57px 57px 0;
 	margin: 5px 0 0 60px;
 	background-color: black;
 	position: absolute;
 	bottom: 0;
 	left: 5px;
 	
}

.c_one {
	height:120px;
 	width:75px;
 	border-radius: 120px 0 0 120px;
 	background-color: black;
 	margin: 50px 0 0 35px;
 	position: absolute;
 	top:0;
 	left: 0;
}

.d_one {
	height:120px;
 	width:75px;
 	border-radius: 0 57px 57px 0;
 	margin: 50px 0 0 35px;
 	background-color: black;
 	position: absolute;
 	top: 0;
 	left: 0;
 	
}

.e_one {
	width: 130px;
	height: 90px;
	background-color: black;
	margin: 20px 20px 0 20px;
	position: absolute;
	top: 0;
	left: 0;

}

.e_two {
	width: 130px;
	height: 90px;
	background-color: black;
	margin: 20px 0 0 20px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.f_one {
	width: 130px;
	height: 80px;
	background-color: black;
	margin: 20px 0 0 20px;
	position: absolute;
	top: 0;
	left: 0;
}

.f_two {
	width: 130px;
	height: 100px;
	background-color: black;
	margin: 20px 0 0 20px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.g_one{
	height:100px;
 	width: 150px;
 	border-radius: 100px 100px 0 0;
 	background-color: black;
 	margin: 0 0 10px 0;
 	position: absolute;
 	top: 0;
 	left: 0;
}

.g_two {
	width: 150px;
	height: 100px;
	background-color: black;
	margin: 10px 0 0 0;
	position: absolute;
	bottom: 0;
	left: 0;
}

.h_one {
	width: 110px;
	height: 100px;
	background-color: black;
	position: absolute;
	top: 0;
	left: 0;

}
.h_two {
	width: 110px;
	height: 100px;
	background-color: black;
	position: absolute;
	bottom: 0;
	left: 0;
}

.i_one {
	width: 30px;
	height: 220px;
	background-color: black;
	position: absolute;
	top: 0;
	left: 50px;
}

.j_one {
	height:50px;
 	width: 90px;
 	border-radius: 0 0 100px 100px;
 	background-color: black;
 	margin: 170px 0 0 40px;
 	position: absolute;
 	bottom: 0;
}


.k_three {
	width: 0;
	height: 0;
	border-right: 75px solid black;
	border-bottom: 110px solid transparent;
	border-top: 110px solid transparent;
	margin-left: 55px;
	position: absolute;
	top: 0;
	right: 20pxw;
}

.k_two{
	width: 0;
	height: 0;
	border-left: 105px solid black;
	border-right: 110px solid transparent;
	border-top: 150px solid transparent;
	margin-top: -220px;
	position: absolute;
	bottom: 0;
	left: 0;
	

}
.k_one {
	width: 0;
	height: 0;
	border-left: 105px solid black;
	border-right: 110px solid transparent;
	border-bottom: 150px solid transparent;
	margin-bottom: 220px;	
	position: absolute;
	top: 0;
	left: 0;
	
}

.l_one {
	width: 60px;
	height: 220px;
	background-color: black;
	margin: 0 45px 0 45px;
	position: absolute;
	top: 0;
	left: 0;
}

.m_one {
	width: 0;
	height: 0;
	border-left: 70px solid black;
	border-right: 75px solid transparent;
	border-top: 220px solid transparent;
	position: absolute;
	bottom:0;
	left: 0;

}

.m_two{
	width: 0;
	height: 0;
	border-left: 70px solid transparent;
	border-right: 75px solid black;
	border-top: 220px solid transparent;
	margin: -220px 0 0 5px;
	position: absolute;
	bottom: 0;
	right: 0;
	
}

.n_one {
	width: 0;
	height: 0;
	border-left: 125px solid black;
	border-right: 125px solid transparent;
	border-top: 220px solid transparent;
	position: absolute;
	bottom: 0;
	left: 0;
}

.n_two{
	width: 0;
	height: 0;
	border-left: 125px solid transparent;
	border-right: 125px solid black;
	border-bottom: 220px solid transparent;
	margin-top:-220px;
	margin-left: -100px;
	position: absolute;
	bottom: 0;
	right: 0;
}

.o_one{
	width: 100px;
	height: 100px;
	background-color: black;
	border-radius: 50px;
	margin: 60px 0 0 25px;
	position: absolute;
	top:20;
}

.p_one {
	height:90px;
 	width:50px;
 	border-radius: 0 75px 75px 0;
 	margin-left: 80px;
 	margin-top: 20px;
 	background-color: black;
 	position: absolute;
 	top: 0;
 	right: 0;
}

.q_one {
	width: 100px;
	height: 100px;
	background-color: black;
	border-radius: 50px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.q_two {
	width: 0;
	height: 0;
	border-left: 70px solid transparent;
	border-right: 75px solid black;
	border-top: 50px solid transparent;
	position: absolute;
	bottom: 0;
	right: 0;
}

.r_one{
	height:90px;
 	width:50px;
 	border-radius: 0 75px 75px 0;
 	margin-left: 45px;
 	background-color: black;
 	position: absolute;
 	top: 0;
 	left: 0;
}

.r_two {
	width: 0;
	height: 0;
	border-left: 70px solid black;
	border-right: 75px solid transparent;
	border-top: 130px solid transparent;
	margin-left: 45px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.s_one {
	height:90px;
 	width:50px;
 	border-radius: 0 75px 75px 0;
 	background-color: black;
 	position: absolute;
 	bottom: 0;
 	right: 5px;
}

.s_two {
	height:90px;
 	width:50px;
 	border-radius: 75px 0 0 75px;
 	background-color: black;
 	position: absolute;
 	top: 15px;
 	left: 35px;
}

.t_one {
	width: 65px;
	height: 200px;
	background-color: black;
	margin-top: 20px;
	margin-right: 20px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.t_two{
	width: 65px;
	height: 200px;
	background-color: black;
	position: absolute;
	bottom: 0;
	right: 0;
	
}
.u_one {
	height:100px;
 	width: 150px;
 	border-radius: 0 0 100px 100px;
 	background-color: black;
 	margin: 120px 0 0 0;
 	position: absolute;
 	bottom: 0;
 	left: 0;
}

.v_one {
	width: 0;
	height: 0;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-top: 220px solid black;
	position: absolute;
	bottom: 0;
	left: 0;
}

.w_one{
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 220px solid black;
	position: absolute;
	top: 0;
	left: 5px;
}

.w_two{
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 220px solid black;
	position: absolute;
	bottom: 0;
	left: 50px;
}
.w_three{
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 220px solid black;
	position: absolute;
	top: 0;
	right: 5px;
}

.x_one{
	width: 0;
	height: 0;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-top: 110px solid black;
	position: absolute;
	top: 0;
	left: 0;
}
.x_two{
	width: 0;
	height: 0;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-bottom:110px solid black;
	position: absolute;
	bottom: 0;
	left: 0;
}

.y_one{
	width: 0;
	height: 0;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-top: 130px solid black;
	position: absolute;
	top: 0;
	left: 0;
}


.z_one{
	width: 0;
	height: 0;
	border-left: 125px solid transparent;
	border-right: 125px solid black;
	border-top: 220px solid transparent;
	margin-bottom: -220px;
	margin-left: -100px;
	position: absolute;
}

.z_two{
	width: 0;
	height: 0;
	border-left: 125px solid black;
	border-right: 125px solid transparent;
	border-bottom: 220px solid transparent;
	position: absolute;
	
}

.space {

	width: 180px;
	height: 120px;
	font-size: 0;
    display: inline-block;
    margin: 1px;
}


.vertical {
	vertical-align: top;
}

/*.shapes {
	opacity: 0;
}*/

.square {
	width: 650px;
	height: 650px;
	border: 10pt solid black;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
}

.circle {
	border-radius: 50%;
	width: 650px;
	height: 650px;
	border: 10pt solid black;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	

}

.triangle {
	width: 0;
	height: 0;
	border-left: 325px solid transparent;
	border-right: 325px solid transparent;
	border-bottom: 650px solid black ;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
}
.innertriangle {
	width: 0;
	height: 0;
	border-left: 300px solid transparent;
	border-right: 300px solid transparent;
	border-bottom: 610px solid white ;
	position: fixed;
	top: 25px;
	left: -300px;
}



/*.spot {
	display: inline-block;
	width: 180px;
	margin-right: 20px;
	height: 220px;
	position: relative;
}*/







