html, body { width: 100%; height: 100%; margin:0; padding:0; }



.items h3, h4 {
	font-family: "futura";
	font-size: 30px;
	position: fixed;
	
	
}

h3 {
	top: 30%;
	left: 46%;
}

h4{
	top: 40%;
	right: 46%;
}

.text {
	font-family: "futura";
	line-height: 3pt;
	margin: 0 auto;
	top: 2%;
	left: 45%;
	position: fixed;
	
	
}

p {
	text-align: center;
	font-size: 10px;
	
}