html, body { width: 100%; height: 100%; margin:0; padding:0; overflow-y: hidden; }

.rectangle {
	cursor: pointer;
}

.rectangles {
	width: 10%;
	height: 20%;
	background-color: black;
	top: 0;
	left: 30%;
	position: fixed;


}

.rectangles_one {
	position: fixed;
	width: 14%;
	height: 15%;
	background-color: black;
	top: 17%;
	left: 20%;
		
}


.rectangles_two {
	width: 13%;
	height: 10%;
	position: fixed;
	background-color: black;
	top: 40%;
	left: 11%;
	
}

.rectangles_three {
	width: 5%;
	height: 25%;
	background-color: black;
	position: fixed;
	left: 8%;
	top: 45%;
	
	
}

.rectangles_four {
	width: 14%;
	height: 13%;
	background-color: black;
	bottom: 10%;
	position: fixed;
}

.rectangles_five {
	width: 18%;
	height: 6%;
	background-color: black;
	position: fixed;
	left: 70%;
	top: 0%;
	
	
}

.rectangles_six {
	width: 6%;
	height: 11%;
	background-color: black;
	position: fixed;
	top: 13%;
	right: 25%;

	
}

.rectangles_seven {
	width: 5%;
	height: 30%;
	background-color: black;
	position: fixed;
	top: 20%;
	right: 0%;

	
}


.rectangles_eight {
	width: 5%;
	height: 30%;
	background-color: black;
	position: fixed;
	bottom: 11%;
	right: 0%;

	
}

.rectangles_nine {
	width: 6%;
	height: 11%;
	background-color: black;
	position: fixed;
	bottom: 11%;
	right: 13%;

	
}
.rectangles_ten {
	width: 6%;
	height: 11%;
	background-color: black;
	position: fixed;
	bottom: 30%;
	right: 13%;

	
}
.rectangles_eleven {
	width: 6%;
	height: 11%;
	background-color: black;
	position: fixed;
	bottom: 50%;
	right: 13%;

	
}

.rectangles_twelve {
	width: 6%;
	height: 11%;
	background-color: black;
	position: fixed;
	bottom: 69%;
	right: 13%;

	
}

.rectangles_thirteen {
	width: 20%;
	height: 3%;
	background-color: black;
	position: fixed;
	right: 30%;
	left: 40%;
	top: 60%;

	
}

.rectangles_fourteen {
	width: 20%;
	height: 10%;
	background-color: black;
	position: fixed;
	left: 45%;
	top: 40%;
	opacity: 0;


	
}



.rectangles_fifthteen {
	width: 20%;
	height: 5%;
	background-color: black;
	position: fixed;
	right: 30%;
	left: 30%;
	bottom: 8%;

	
}

.rectangles_sixteen {
	width: 9%;
	height: 13%;
	background-color: black;
	position: fixed;
	right: 30%;
	left: 51%;
	bottom: 0%;

	
}

.text {
	font-family: "futura";
	font-size: 10pt;
	line-height: 2pt; 
	position: fixed;
	text-align: center;
	top: 2%;
	left: 5%;
}

.text.hide { display: none; }

.selected {
	background: #4F99D4;
}



.total {
	margin-top: -170px;
	text-align: center;
	font-family: "futura";
	font-size: 600pt;


}




