html, body { width: 100%; height: 100%;overflow: hidden; }

@font-face { font-family: "gibson"; src: url("../fonts/ctgl.otf"); }

body {
    background-color: black;
}

h1 { font-family: "gibson"; 
        font-size: 20px; 
        width: 10%;
        /*margin-top: 25%;*/
        /*height: 100%;*/ 
        letter-spacing: 5px; 
        /*margin-left: auto;
        margin-right: auto;*/
        position: fixed;
        z-index: 10000;  
    }
h2 { font-family: "gibson"; 
    font-size: 30px; 
    width: 45%;
    z-index: 10000;
    position: fixed;
    margin-top: 25%;
    font-weight: bolder;   
     color: black;
    }
h3 { font-family: "gibson"; 
    font-size: 30px; 
    width: 150%;
    margin-top: 25%;
    /*margin-top: 150px; */
    font-weight: bolder;  
    position: fixed;
    z-index: 10000; 
     color: white;
    }
   
#background {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: white;
    /*display: block;
    z-index: 10;*/
   
}

